In [27]:
import sys
import pandas as pd
!{sys.executable} -m pip install pyarrow

Requirement already satisfied: pyarrow in /home/leviscoffie/anaconda3/lib/python3.7/site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/leviscoffie/anaconda3/lib/python3.7/site-packages (from pyarrow) (1.18.1)

In [28]:

df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
csv_output= 'yellow_trip_data.csv'
df.to_csv(csv_output, index=False)

In [29]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

# DDL

In [30]:
from sqlalchemy import create_engine
import psycopg2

In [37]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')  # connecting to the docker postgres locally

# engine.connect()

In [38]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [39]:
df_iter=pd.read_csv('yellow_trip_data.csv', iterator=True, chunksize=100000)

In [40]:
df=next(df_iter)
# len(df)

In [41]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [42]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace') # for column heads

In [43]:
df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append') # for the 1st 100000 chunks

In [44]:
from time import time

In [45]:
while True:
    t_start=time() #timestamp at the beginning
     
    df=next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
    
    t_end=time()
    
    print('inserted another chunk ... , it took %.3f seconds'%(t_end-t_start) )

inserted another chunk ... , it took 37.786 seconds
inserted another chunk ... , it took 38.314 seconds
inserted another chunk ... , it took 38.402 seconds
inserted another chunk ... , it took 37.864 seconds
inserted another chunk ... , it took 37.116 seconds
inserted another chunk ... , it took 36.855 seconds
inserted another chunk ... , it took 42.738 seconds
inserted another chunk ... , it took 45.638 seconds
inserted another chunk ... , it took 42.581 seconds
inserted another chunk ... , it took 38.866 seconds
inserted another chunk ... , it took 36.523 seconds

/home/leviscoffie/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

inserted another chunk ... , it took 37.434 seconds
inserted another chunk ... , it took 24.675 seconds

StopIteration:

In [1]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2022-09-26 11:01:52--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.84.193.91, 52.84.193.213, 52.84.193.67, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.84.193.91|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-09-26 11:01:54 (154 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

##### INGEST ZONES DATA INTO THE NY_TAXI DB FOR QUERYING

In [5]:
import pandas as pd

In [6]:
df_zones=pd.read_csv('taxi+_zone_lookup.csv')

df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
from sqlalchemy import create_engine

In [12]:
engine=create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [13]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')